<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AOKops管理平台</title>
</head>
<body>
<form method="get">
    <input type="search" name="q" title="Search" class="searchinput" id="searchinput" value="请输入网段x.x.x.0或者IPx.x.x.x"
           onkeydown="if (event.keyCode==13) {}" onblur="if(this.value=='')value='请输入网段x.x.x.0或者IPx.x.x.x';"
           onfocus="if(this.value=='请输入网段或者IP')value='';" value="请输入网段x.x.x.0或者IPx.x.x.x" style="width: 260px">
    <button>开始扫描</button>
</form>
</body>
</html>